{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,

    // Disable until Flow supports let and const
    "no-var": 0,
    "vars-on-top": 0
  },
  "plugins": [
    "react"
  ]
}
