---
extends: eslint-config-airbnb

rules:
  react/display-name: 2
  react/jsx-max-props-per-line:
    - 1
    - {"maximum": 2}
  react/jsx-no-duplicate-props: 2
  react/jsx-quotes:
    - 2
    - single
  react/jsx-sort-prop-types: 2
  react/jsx-no-undef: 2
  no-use-before-define:
    - 2
    - "nofunc"
  new-cap: 0
  no-var: 0
  vars-on-top: 0
  semi:
    - 2
    - never
