html {
  font-family: -apple-system, 'system-ui', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 14px;
}

body {
  margin: 60px;
}

h3 {
  margin-top: 0;
}

.grid {
  margin: -40px;
  display: flex;
  flex-wrap: wrap;
}

.example {
  width: 550px;
  margin: 40px;
}
